<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.iut.brainwave"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal" >
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Menu d'accueil -->
        <activity
            android:name="MenuApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- L'activité du graphique -->
         <activity android:name="MainActivity" 
                  android:label="@string/app_name"> <!-- L'activité secondaire un Intent -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- Le menu de gestion du bluetooth -->
          <activity android:name="GestionBluetooth" 
                  android:label="@string/GestionBluetooth"> 
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
			</activity>
        <activity
            android:name="fr.iut.brainwave.AideActivity"
            android:label="@string/title_activity_aide" >
        </activity>
        <activity
            android:name="fr.iut.brainwave.SettingsActivity"
            android:label="@string/title_activity_settings" >

        </activity>
    </application>

</manifest>
